{% extends 'base.html.twig' %}

{% form_theme formFigure 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'une nouvelle figure !</h1>

    {# We keep theses tags if we want to add some content before our form #}
    {{ form_start(formFigure) }} 

    {{ form_widget(formFigure) }}

    <button type="submit" class="btn btn-success">Ajouter l'article</button>

    {# We keep theses tags if we want to add some content before our form #}
    {{ form_end(formFigure) }}

{% endblock %}