{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">
        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 01/05/2020 à 22:56 dans la catégorie Figure</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ex eaque mollitia reprehenderit numquam suscipit.</p>
                <p>Eligendi nihil odio facilis harum possimus corporis eum ad ut, tempora reprehenderit ex, pariatur dolorem!</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>

        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 01/05/2020 à 22:56 dans la catégorie Figure</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ex eaque mollitia reprehenderit numquam suscipit.</p>
                <p>Eligendi nihil odio facilis harum possimus corporis eum ad ut, tempora reprehenderit ex, pariatur dolorem!</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>

        <article>
            <h2>Titre de l'article</h2>
            <div class="metadata">Ecrit le 01/05/2020 à 22:56 dans la catégorie Figure</div>
            <div class="content">
                <img src="http://placehold.it/350x150" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem ex eaque mollitia reprehenderit numquam suscipit.</p>
                <p>Eligendi nihil odio facilis harum possimus corporis eum ad ut, tempora reprehenderit ex, pariatur dolorem!</p>
                <a href="" class="btn btn-primary">Lire la suite</a>
            </div>
        </article>
</section>

{% endblock %}
