<h1>Récupération de votre mot de passe</h1>

<p>Vous avez demandé la récupération de votre mot de passe, veuillez cliquer sur le lien ci-dessous pour le modifier :</p>
<p>{{ 'https://localhost:8000/reset-pass/'~ user.resettoken }}</p>
