<h1>Récupération de votre mot de passe</h1>

<p>Vous avez demandé la récupération de votre mot de passe, veuillez cliquer sur le lien ci-dessous pour le modifier :</p>
<p><a href="{{ absolute_url(path('app_reset_password', {'token': user})) }}"</a>Modifier mon mot de passe !</p>
