{% extends 'base.html.twig' %}

{%  block title %}Page non trouvée !{%  endblock %}


{%  block body %}
<div class="container">
    <h1>Page non trouvée</h1>
    <p>La page que vous cherchez n'a malheureusement pas été trouvée.</p>

    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="/public/uploads/error/sad_pug.jpg" class="error-img" alt="chien triste"/>
    </div>
    </div>
</div>
{%  endblock %}
